<h1>New question page</h1>
  <%= form_for :question, url: '/questions' do |f| %>
            
            <p><%= f.label :test_id %>
            <%= f.text_field :test_id %></p>
            
            <p><%= f.label :title %>
            <%= f.text_field :title %></p>

            <p><%= f.label :text %>
            <%= f.text_area :text %></p>

            <p><%= f.submit %></p>
          <% end %>
