<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>New question page</h1>
  <%= form_for :question, url: '/questions' do |f| %>
            
            <p><%= f.label :test_id %>
            <%= f.text_field :test_id %></p>
            
            <p><%= f.label :title %>
            <%= f.text_field :title %></p>

            <p><%= f.label :text %>
            <%= f.text_area :text %></p>

            <p><%= f.submit %></p>
          <% end %>
</body>
</html>
