<h1 class="text-center mt-3"><%= t('.header') %></h1>
<p>
<%= link_to t('.new_test'), new_admin_test_path %>
</p>

<table class='table table-striped'>
    <tr>
        <th><%=t('.title')%></th>
        <th><%=t('.level')%></th>
        <th><%=t('.quantity_of_questions')%></th>
        <th colspan="3"><%=t('.actions')%></th>
    </tr>

    <%= render @tests %>
    
</table>
