<h1 class="text-center mt-3"><%= t('tests.index.header') %></h1>

<table class='table table-striped'>
    <tr>
        <thß><%=t('.title')%></th>
        <thß><%=t('.level')%></th>
        <thß><%=t('.quantity_of_questions')%></th>
        <thß><%=t('.actions')%></th>
    </tr>

    <%= render @tests %>
    
</table>
