<p>
    <strong>Title:</strong>
    <%= @test.title %>
</p>

<p>
    <strong>Level:</strong>
    <%= @test.level %>
</p>

<p>
    <strong>Creator:</strong>
    <%= @test.creator.username %>
</p>

<p>
    <strong>Category:</strong>
    <%= @test.category.name %>
</p>

<h3>Questions: </h3>

<% @test.questions.each do |question| %>
    <p> <%= question.title %></p>
<% end %>

<%= link_to 'Back', tests_path %>
